<div>
    <form [formGroup]="form" novalidate class="form-group text-center" name="timesheet-start" #timesheetStart ngModel="timesheetStart" (ngSubmit)="onSubmit(form.value)">
        <div class="form-group">
            <mat-form-field hintLabel="">
                <input required matInput class="form-control" formControlName="startDate" name="start_date" placeholder="Select start date" [matDatepicker]="startPicker" format="dd/mm/YYYY HH:mm">
                <mat-datepicker #startPicker></mat-datepicker>
                <mat-datepicker-toggle [for]="startPicker" matSuffix></mat-datepicker-toggle>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field>
                <input required matInput type="time" formControlName="startTime" placeholder="Select a time" name="start_time">
            </mat-form-field>
        </div>
        <button mat-raised-button type="submit" class="btn btn-primary" [disabled]="!form.valid">
            <span class="fa fa-create"></span> Submit
        </button>
    </form>
</div>