<mat-tab-group>
    <mat-tab label="Timesheets">
        <mat-card>
            <mat-card-header>
                <h1>Timesheets</h1>    
            </mat-card-header>
            <mat-card-content>
                <ul>
                    <li>Active(live)</li>
                    <li>Submitted</li>
                </ul>
                <p>I need to know what information(DATA) you guys want so it can be programmed that way.</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button class="btn btn-primary">
                    do something
                </button>
            </mat-card-actions>
        </mat-card>
    </mat-tab>
    <mat-tab label="Payroll">
        <mat-card>
            <h1>Payroll</h1>
            <ul>
                <li>option 1</li>
            </ul>
        </mat-card>
    </mat-tab>
    <mat-tab label="Tools">
        <mat-card>
            <h1>Tools</h1>
            <ul>
                <li>Employee register - (Add new employees)</li>
            </ul>
        </mat-card>
    </mat-tab>
</mat-tab-group>