<mat-sidenav-container fullscreen>
    <mat-toolbar color="secondary">
        <dashboard-sidenav></dashboard-sidenav>
        <span>{{ viewTitle | uppercase }}</span>
        <span class="spacer"></span>
        <button 
            mat-icon-button 
            [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <div *ngFor="let option of dashboardOptions">
                <button mat-menu-item>
                    <mat-icon>{{ option.icon }}</mat-icon>
                    <span>{{ option.label }}</span>
                </button>
            </div> 
        </mat-menu>
    </mat-toolbar>
    <dashboard-content></dashboard-content>
</mat-sidenav-container>