<div id="create-account-component" class="">
    
    <div class="text-center">
        <h1 class="text-uppercase">
            <small>{{ viewTitle }}</small>
        </h1>
    </div>
    <form
        [formGroup]="form"
        novalidate 
        class="form-group text-center"
        name="register" 
        #register 
        (ngSubmit)="onSubmit(form.value)">
        <div class="form-group">
            <mat-form-field>
                <input 
                    required 
                    matInput 
                    type="text" 
                    formControlName="firstName" 
                    class="form-control" 
                    id="firstName" 
                    placeholder="First Name" 
                    name="firstName" 
                    value="Tony" 
                    [(ngModel)]="model.firstName">
                <mat-error>
                    <div *ngIf="!form.controls['firstName'].valid && form.controls['firstName'].touched">
                        This is required
                    </div>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field>
                <input
                    required  
                    matInput 
                    type="text" 
                    formControlName="lastName" 
                    class="form-control" 
                    id="lastName" 
                    placeholder="Last Name"
                    name="lastName" 
                    value="Taylor" 
                    [(ngModel)]="model.lastName">
                <mat-error>
                    <div *ngIf="!form.controls['lastName'].valid && form.controls['lastName'].touched">
                        Last name is required
                    </div>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field>
                <input
                    required  
                    matInput 
                    type="text" 
                    formControlName="companyName" 
                    class="form-control" 
                    id="companyName" 
                    placeholder="Company Name"
                    name="companyName" 
                    value="Technimove" 
                    [(ngModel)]="model.companyName">
                <mat-error>
                    Company name is required
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field hintLabel="johndoe@example.com">
                <input
                    required  
                    matInput 
                    type="email" 
                    formControlName="email" 
                    class="form-control" 
                    id="email" 
                    placeholder="Email"
                    name="email" 
                    value="tony.tyrone.taylor@gmail.com" 
                    [(ngModel)]="model.email">
                <mat-error>
                    <div *ngIf="!form.controls['email'].valid && form.controls['email'].touched">
                        Email is required
                    </div>
                    <!--<div *ngIf="form.controls['email'].hasError['email'] && form.controls['email'].touched">
                        Enter a valid email address
                    </div>-->
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field hintLabel="Min 6 characters">
                <input
                    required 
                    minLength="6" 
                    matInput 
                    type="password" 
                    formControlName="password" 
                    class="form-control" 
                    id="password" 
                    placeholder="Password"
                    name="password" 
                    [(ngModel)]="model.password">
                <!--<mat-hint align="end">{{ mode.password.value?.length || 0 }}</mat-hint>-->
                <mat-error>
                    Password is required
                </mat-error>
            </mat-form-field>
        </div>
        <button mat-raised-button type="submit" class="btn btn-primary" [disabled]="!form.valid">
            <span class="fa fa-create"></span> Create
        </button>
    </form>
    <!--<form
        novalidate 
        class="form-group text-center"
        name="create-account" 
        #createAccount 
        (ngSubmit)="onSubmit()">
        <div class="form-group">
            <mat-form-field>
                <input 
                    required 
                    matInput 
                    type="text" 
                    class="form-control" 
                    id="firstName" 
                    placeholder="First Name" 
                    name="firstName" 
                    #firstName="ngModel" 
                    [(ngModel)]="model.firstName" 
                    [ngModelOptions]="{ updateOn: 'change' }">
                <mat-error>
                    <div *ngIf="firstName.touched || !firstName.valid">First name is required</div>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field>
                <input
                    required  
                    matInput 
                    type="text" 
                    class="form-control" 
                    id="lastName" 
                    placeholder="Last Name"
                    name="lastName" 
                    #lastName="ngModel" 
                    [(ngModel)]="model.lastName" 
                    [ngModelOptions]="{ updateOn: 'change' }">
                <mat-error>
                    Last name is required
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field>
                <input
                    required  
                    matInput 
                    type="text" 
                    class="form-control" 
                    id="companyName" 
                    placeholder="Company Name"
                    name="companyName" 
                    #companyName="ngModel" 
                    [(ngModel)]="model.companyName" 
                    [ngModelOptions]="{ updateOn: 'change' }">
                <mat-error>
                    Company name is required
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field hintLabel="johndoe@example.com">
                <input
                    required  
                    matInput 
                    type="email" 
                    class="form-control" 
                    id="email" 
                    placeholder="Email"
                    name="email" 
                    #email="ngModel" 
                    [(ngModel)]="model.email" 
                    [ngModelOptions]="{ updateOn: 'change' }">
                <mat-error>
                    Email is required
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field hintLabel="Min 6 characters">
                <input
                    required 
                    minLength="6" 
                    matInput 
                    type="password" 
                    class="form-control" 
                    id="password" 
                    placeholder="Password"
                    name="password" 
                    #password="ngModel" 
                    [(ngModel)]="model.password" 
                    [ngModelOptions]="{ updateOn: 'change' }">
                <mat-hint align="end">{{ password.value?.length || 0 }}</mat-hint>
                <mat-error>
                    Password is required
                </mat-error>
            </mat-form-field>
        </div>
        <button mat-raised-button type="submit" class="btn btn-primary">
            <span class="fa fa-create"></span> Create
        </button>
    </form>-->
    <br>
    <div *ngIf="form.value.firstName && form.value.lastName && form.value.email">
        <h3>Hello {{ form.value.firstName }} {{ form.value.lastName }}, please check {{ form.value.email }} for activation link.</h3>
    </div>
    <div class="text-center">
        <p>
            <a routerLink="/login">Already registered?</a>
        </p>
    </div>
</div>