<div id="login-component" class="">
    <div class="text-center">
        <h1 class="text-uppercase"><small>{{ viewTitle }}</small></h1>
    </div>
    <form 
        novalidate 
        class="form-group text-center" 
        name="login-form" 
        #loginForm 
        (ngSubmit)="onSubmit(form.value)" 
        [formGroup]="form">
        <div class="form-group">
            <mat-form-field hintLabel="">
                <input
                    required 
                    matInput 
                    type="email" 
                    class="form-control" 
                    id="email" 
                    name="email"
                    formControlName="email" 
                    placeholder="Enter your email address">
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field>
                <input 
                    required 
                    matInput 
                    type="password" 
                    class="form-control" 
                    id="password" 
                    name="password" 
                    formControlName="password" 
                    placeholder="Enter your password">
            </mat-form-field>
        </div>
        <button mat-raised-button type="submit" class="btn btn-primary" [disabled]="!form.valid">
            <span class="fa fa-sign-in"></span> Login
        </button>
    </form>
    <br>
    <div class="text-center">
        <p>
            <a routerLink="/forgot-password">Forgot password?</a>
        </p>
        <p>
            <a routerLink="/register">Not registered?</a>
        </p>
    </div>
</div>