<div id="login-component" class="">
    Login component
    <!--<form (ngSubmit)="onSubmit()" #login>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" required [(ngModel)]="model.email" name="email" #email="ngModel" [ngModelOptions]="{ updateOn: 'change' }">
            <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
                Email is required
            </div>
        </div>
        <div class="form-group">
            <label for="password">Email:</label>
            <input type="password" class="form-control" id="password" required [(ngModel)]="model.password" name="password" #password="ngModel" [ngModelOptions]="{ updateOn: 'change' }">
            <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
                Password is required
            </div>
        </div>
        <button type="submit" class="btn btn-success">
            Submit
        </button>
    </form>-->
</div>